fastapi
uvicorn
python-dotenv
httpx
langchain
langchain-community
langchain-groq
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
chromadb
pypdf
pandas
openpyxl
langchain-huggingface
sentence-transformers
python-multipart
